{% extends "base.html" %}

{% block body_block %}

<div>
    <h1>Přihlášení</h1>
    {% if 0 %}
        <p>Přihlásit se půjde až po registraci</p>
    {% else %}

        <br>
        <h3>{{error_flag}}</h3>
        <br>
        <form action = "{% url 'user:user_login' %}" method = "POST">
            {% csrf_token %}
            <label for="username">Jméno týmu:</label>
            <input type="text" name="username" id="username">
            <label for="password">Heslo:</label>
            <input type="password" name="password" id="password">

            <input type="submit" value="Přihlásit se">


        </form>
    {%  endif %}
</div>

{% endblock %}
