{% extends "base.html" %}

{% block body_block %}

<div>
    <h1>Registrace</h1>
    {% if visible %}
        <p>Registraci spustíme 18. května.</p>
    {% else %}
        {% if error_flag %}
            <p>{{error_flag}}</p>
        {% endif %}
        {% if user_registered %}
            <h4>Vaše registrace byla úspěšná!</h4><br>
        {% else %}
            <form method="POST">
                {% for field in user_form %}
                    {{ field.label_tag }}
                    {{ field }}
                {% endfor %}
                {{ participants_form }}
                {% csrf_token %}
                <input type="submit" value="Registrovat">
            </form>
        {% endif %}
    {% endif %}
</div>

{% endblock %}
