{% extends "base.html" %}

{% block body_block %}

<div>
    <h1>Vítejte u Kachny</h1>
    <p>Kachna je tradiční letní šifrovací víkend.</p>
    <h2>Proč?</h2>
    <p>Všechny šifrovací hry probíhají stejným způsobem: Přijedeš – Hraješ – Odjedeš. Zlomek z nich zve na následnou Afterparty. Přesto se někteří hráči většinou tak nějak od vidění znají. Kachna nabízí jedinečnou možnost strávit letní víkend s ostatními šifrátory, lépe se poznat a ještě si přitom pěkně zaluštit. To byla původní motivace, která časem přerostla v setkávání kamarádů, vyměňování šifrovacích drbů a zpívání u ohně až do rána.</p>
    <h2>Co je potřeba?</h2>
    <p>Je potřeba sestavit tým a přihlásit se. Na pořadí nezáleží. Každý tým musí s předstihem vytvořit jednu pěknou šifru – více v sekci Pravidla. S sebou pak budete potřebovat pouze lušticí pomůcky, hudební nástroje, společenské hry a něco dobrého k pití.</p>
    <h2>Jak Kachna probíhá?</h2>
    <p>Ve zkratce: týmy přijedou na místo konání hry již v pátek večer.  Po krátkém uvítacím bloku bude prostor k volné zábavě u ohně či hraní deskových her. Pokud se organizátorům zadaří, bude na páteční večer připraven krátký program. Sobotní náplní dne je samotná Kachna zakončená vyhlášením kolem osmé hodiny večerní. Účastníci následně rozjíždí zábavu u ohně, hraje se na kytary a opékájí se špekáčky. V neděli ráno se rozloučíme snídaní a týmy odjíždí podle vlastního gusta.</p>
    <h2>Kolik to stojí a co je v ceně?</h2>
    <p>Kachní tah trvá celý víkend. Počítejte proto s cenou vyšší než u tradičních šifrovaček. Cena za osobu je letos 950 Kč. </p>
    <h2>Jak bude samotná hra dlouhá?</h2>
    <p>Časově 10 hodin, kilometrově 8-12 km. V pěkném lesnatém prostředí.</p>
</div>

{% endblock %}
