{% extends "base.html" %}
{% block body_block %}
<div>
    <h1>Informace k letošnímu ročníku</h1>
    <em>Vhledem k současné situaci není nic jisté, ale rádi bychom letošní ročník uspořádali tak, jak jsme zvyklí. Buďte ale prosím trpěliví a vstřícní - budeme respektovat všechna vládní nařízení. Očekávejte, že přibudou pravidla ohledně rozestupů mezi týmy / v rámci týmu - bude upřesněno později v návaznosti na aktuální legislativní požadavky. Je možné, že na každém stanovišti bude dezinfekční gel (v závislosti na aktuální situaci).</em>
    <h2>Kdy?</h2>
    <p>17. až 19. července, registraci spustíme 18. května, deadline na šifry bude 12. června.</p>
    <h2>Kde?</h2>
    <p>V <a href="https://rekreace-usvit.haul.cz/">rekreačním středisku Úsvit</a> ve Vanově u Telče.</p>
    <h2>Za kolik?</h2>
    <p>950 Kč na osobu, v ceně jsou noclehy, páteční večeře, sobotní snídaně + večeře a nedělní snídaně. <i>Navíc</i> i věci na opékání, drobné ceny pro vítěze a materiál na přípravu hry (tisk, doprava apod.). Cena za ubytování návštěv je 750 Kč.</p>
    <h2>Jak obvykle vypadají šifry?</h2>
    <p>Podívejte se na <a href="http://kachna.sifruje.cz/">předchozí ročníky.</a></p>
    <h2>Dotazy?</h2>
    <p>Pište na kachna@sifruje.cz.</p>
</div>
{% endblock %}
