{% extends "base.html" %}

{% block body_block %}

<div>
    <h3>Šifry:</h3>
    <br>
    {% if not visible_page %}
    <p> Šifry se otevřou spolu s účty!</p>
    {% else %}
    <p>{{ error_flag }}</p>
        {% if cryptoComentList %}
        <ul>
            {% for comment in cryptoComentList %}
            <li>
                
                <ul>                
                    <li> User: {{ comment.author }} </li>
                    <li> Cipher: <a href="{{ comment.cipher_unsolved.url }}">{{ comment.tag }}</a></li>


                    {% if visible or comment.author == user %}
                    <li>Solved: <a href="{{ comment.cipher_solved.url }}"> {{ comment.tag }}</a></li>
                    {% endif %}

                    {% if comment.author == user %}
                    <form action = "{% url 'quack_forum:crypto_forum' %}" method = "POST">
                        {% csrf_token %}
                        <li><button type = "submit" value = "{{comment.id}}" name = "id_value">Smaž šifru!</button></li>
                    </form>
                    {% endif %}
                </ul>
                
            </li>
            <br>
            {% endfor %}
            
        </ul>
        {% else %}
        <p>Žádné šifry zatím nebyly přidány!</p>
        {% endif %}
    {% endif %}
</div>

{% endblock %}