{% extends "base.html" %}
{% block body_block %}
<div>
    <h1>Kváky</h1>
    {% if error_flag %}
        <p>{{ error_flag }}</p>
    {% endif %}
    <div class="comments">
        {% if comment_list %}
            {% for comment in comment_list %}
                <div class="quack">
                    <div class="quack-user">{{ comment.user }}</div>
                    <div class="quack-date">{{ comment.date_time }}</div>
                    <div class="quack-content">{{ comment.comment }}</div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class = "form">
        <form method="POST">
            <label for="username">Jméno</label>
            <input type="text" name="username" id="username">
            {{ form }}
            {% csrf_token %}
            <label for="check">Který tým vyhrál Kachnu loni?:</label>
            <input type="text" name ="check" id="check">
            <input type="submit" value="Odeslat">
        </form>
    </div>
</div>

{% endblock %}
